/* #F9F9F9 back */
/* #FFFFFF back */
/* FF0000*/
/* 030303 icons*/
/* F2F2F2*/
/* 606060 text*/


nav{
  width: 960px;
  margin: 0 auto
}

nav:before {
  content:'';
  display:block;
  height:50px;
  width:100%;
  background: #FFFFFF;
  position: absolute;
  left: 0;
  z-index: -1
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
  height: 50px
  }

ul li {
  float: left
}

ul li a{
  color: #030303;
  height: 50px;
  display: block;
  padding: 0 30px;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 50px
}


ul li a.youtube img{
  /*margin: 12px;*/
  margin: 12px auto
}


ul li a.youtube:hover{
  background: None;
}


ul li a:hover{
  background: #F2F2F2
}

.youtube{
  text-decoration: none;
  text-transform: uppercase;
}

.logo{
  cursor: pointer;
  width: 60px;
}

.index{
  text-transform: uppercase;
}

/*-----------------------------------*/
/*body {*/
/*    margin: 0;*/
/*    font-family: Sans-Serif;*/
/*}*/

/*h2{*/
/*    width:50%;*/
/*    margin: 20px auto 5px;*/
/*    text-align: center;*/
/*    padding: 5px;*/
/*    border-radius: 5px;*/
/*    box-shadow: 0 2px 8px #3ca3c1;*/
/*}*/

form {
    margin: 1.5rem auto 5px;
    width: 90%;
    max-width: 40rem;
    padding: 1rem;
    border-radius: 10px;
    font-size: 16px;
    background-color: white;
    box-shadow: 0 2px 8px #3ca3c1;
}

.button_form {
    cursor: pointer;
    background-color: #bf0d55;
    color: white;
    border: 10px solid #bf0d55;
}

.button_form:hover,
.button_form:active {
    background-color: #320777;
    border-color: #320777;
}

.form-style {
    margin-bottom: 1rem;
}

.form-style input {
    font: inherit;
    padding: 0.25rem;
    border-radius: 4px;
    border: 1px solid #ccc;
    display: block;
    width: 10rem;
}

.form-style input:focus {
    border-color: #1f0050;
    background-color: #f4eeff;
    outline: none;
}

.form-style label {
    font-weight: bold;
    display: block;
    margin-bottom: 0.5rem;
}

.errorlist {
    list-style: none;
    margin: 0;
    padding: 0;
    color: #ff2650
}

.errors input {
    border-color: #aa1754;
    background-color: #f4eeff;
}

.errors label{
 color: #aaff54;
}